.auth__main{
    align-items: center;
    // background-color: $primary;
    display: flex;
    justify-content: center;
    margin: 0px;
    height: 100vh;
    width: 100vw;
}
//* imganen
.auth__main-back{ 
    height: 100vh;
    width: 100vw;
    z-index: 0;
    position: fixed;
    object-fit: cover;    

}
.auth__background{
    height: 100vh;
    width: 100vw;
    background: $transparent;
    z-index: 1;
    position: absolute;
}
.auth__box-container{
    background-color: $dark-react;
    box-shadow: 3px 3px lighten($color: $dark-react, $amount: 10);
    border-radius: 2px;
    padding: 20px;
    width: 250px;
    z-index: 2;


    background: rgba( 40, 44, 52, 0.854 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 11.5px );
    -webkit-backdrop-filter: blur( 11.5px );
    border-radius: 10px;


}

.auth__title{
    color: lighten($color: $primary2, $amount: 5);
    margin-bottom: 20px;
}
.auth__title__big{
    font-size: 45px;
}

.auth__input{
    color: $light-react;
    border: 0px;
    border-bottom: 3px solid rgba(247, 247, 247, 0.5);
    border-radius: 3.5px;
    font-size: 16px;
    margin-bottom: 15px;
    height: 20px;
    width: 100%;
    background-color: rgba( 40, 44, 52, 0.4 );

    transition: border-bottom .3s ease-in-out;

    &:focus { 
        border-bottom: 3px solid $primary;
        outline: none;
    }
    
}

.auth__social-networks {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}


.auth__alert-error {
    background-color: red;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    padding: 5px
}

.auth__p{
    color: $light-react;
}