

.btn {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 12px;
    padding: 7px 10px 7px 10px;

    transition: color .3 ease;

    &:focus {
        outline: none;
    }

    &:hover{
        color: $react;
    }
    
}

.btn-primary {
    background-color: $primary;
    border-radius: 2px;

    &:disabled{
        background-color: lighten($color: $primary, $amount: 15);
    }

    &:hover{
        box-shadow: 0 0 5px $primary;
        color: white
    }
    
    &:active{
        background-color: darken($color: $primary, $amount: 12);
    }
}
.btn-block{
    width: 100%;
}