
.note__main-content{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: $dark-react-native;

}

.notes__appbar{
    align-items: center;
    background-color: #20232a;
    color: $light-react;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
}

.notes__content{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
}

.notes__title-input, .notes__textarea{
    border:  none;
    background-color: lighten($color: black, $amount: 6);
    color: $light-react;
    border-radius: 5px;

    &:hover{
        border: 1.5px solid $react;

    }
    &:focus{
        outline:none;
        border: 1px solid $react;
    }
}
.notes__title-input{

    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.notes__textarea{
    // border: 1px solid darken($color: $dark-grey, $amount: 18);

    font-size: 20px;
    flex: 1 1 auto;
    resize: none;
}

.notes__image img{
    box-shadow: 5px 5px $react;
    height: 250px;
    object-fit: cover;

}